/* Base Canvas Roots styles */

.canvas-roots-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Utility classes */

/* Display utilities */
.crc-inline {
  display: inline;
}

.crc-inline-block {
  display: inline-block;
}

.crc-inline-flex {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.crc-block {
  display: block;
}

/* Icon inline with text */
.crc-icon-inline {
  display: inline;
  vertical-align: middle;
}

.crc-text--center {
  text-align: center;
}

.crc-text--strikethrough {
  text-decoration: line-through;
}

/* Visibility utilities */
.crc-hidden {
  display: none !important;
}

/* Cursor utilities */
.crc-cursor-grab {
  cursor: grab;
}

.crc-cursor-grabbing {
  cursor: grabbing;
}

.crc-cursor-help {
  cursor: help;
}

.crc-link {
  color: var(--cr-text-accent, var(--text-accent));
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.crc-link:hover {
  text-decoration: underline;
}
